.slider-container {
   position: relative;
   display: flex;
   justify-content: center; 
   height: 600px;
    width: 500px;
    margin: 0 auto;
}
.slider-image {
    display: none;
    min-width: 100%;
}
.slider-button {
    display: flex;
    justify-content: space-between;
}
button {
    position:absolute;
   top: 0;
   padding: 10px 15px;
   cursor: pointer;
   border: none;
   height: 100%;
}
.prev {
    left: 0;
}
